a.active {
    color: #a30015;
}

a.skip {
    position: absolute;
    left: -1000px;
    background-color: white;
    height: 25px;
    z-index: 100;
}

a.skip:focus {
    left: 10px;
    top: 10px;
    width: auto;
    height: auto;
    overflow: visible;
}
html {
    background-color: #19297C;
}

header {
    background-color:#585481;
    padding: 20px;
    text-align: center;
    box-sizing:border-box;
}

nav ul li{
  background-color: #D1BCE3;
  display: inline;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
  border-radius: 20px;
  padding: 10px 20px;
  border: 2px solid #FFFFFF;
}

footer {
    background-color:#585481;
    padding: 20px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction:column;
}

.content, .sidebar, .gallery {
    padding: 20px;
    text-align: center;
    color: white;
}

.gallery .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gallery .images figure{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gallery img {
    max-width: 300px;
    margin: 20px;
}

.gallery video {
   max-width: 200px;
    margin: 20px;
}

.gallery figure {
   max-width: 200px;
    margin: 20px;
}

figcaption {
    text-align: center;
}

h1{
    font-size: 50 px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: white;
}

h2{
    font-size: xx-large;
    font-family: 'segoe ui', tahoma, geneva, verdana, sans-serif;
    color: #C49BBB;
    text-align: center;
}

h3{
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #C49BBB;
    text-align: center;
}

p{
    background-color: #D1BCE3;
    padding: 20px;
    border: solid 2px #A1867F;
    line-height: 1.5;
    text-align: center;
}


/* mobile view */
@media (max-width: 350px) {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .container {
        flex-direction: column;
    }
    .content {
        flex: 1;
    }

    .sidebar {
        flex: 1;
    }

    .gallery {
        flex-basis: 100%;
    }

    .gallery img, .gallery video {
        width: 200px;
    }

    .gallery figure {
        width: 200px;
        margin: 20px;
    }
}
/* tablet view */
@media (min-width: 800px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    .content {
        flex: 2;
    }

    .sidebar {
        flex: 1;
    }

    .gallery {
        flex-basis: 100%;
    }

    .gallery img, .gallery video {
        width: 300px;
    }

    .gallery figure {
        width: 300px;
        margin: 20px;
    }
}

/* desktop view */
@media (min-width: 1200px) {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .container {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    .content {
        flex: 2;
    }

    .sidebar {
        flex: 1;
    }

    .gallery {
        flex-basis: 100%;
    }

    .gallery img, .gallery video {
        width: 600px;
        border-radius: 30%;
    }

    .gallery figure {
        width: 600px;
        margin: 20px;
    }
}